footer.footer
    .container
        .footer__top
            .footer__silka ПОЛЕЗНЫЕ ССЫЛКИ
                nav.nav2
                    ul.nav2__list
                        li.nav2__item
                            a(href="#").nav2__link  Доставка
                        li.nav2__item
                            a(href="#").nav2__link  Оплата
                        li.nav2__item
                            a(href="#").nav2__link  Акции
                        li.nav2__item
                            a(href="#").nav2__link  Политика конфиденциальности
            .footer__oplata ОПЛАТА
                .footer__oplatatext Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                .footer__oplatakard
                    img(src="./assets/imgs/visa.png", alt="visa").footer__oplatakardimg
                    img(src="./assets/imgs/master.png", alt="master")
            .footer__kontakt КОНТАКТЫ
                .footer__kontaktbox
                    a(href="tel:88122345655").footer__kontaktsilka
                        img(src="./assets/imgs/phone.png", alt="tel" width="20" height="20")
                        .footer__kontacttext 8 (812) 234-56-55
                    a(href="tel:88122345655").footer__kontaktsilka
                        img(src="./assets/imgs/phone.png", alt="tel" width="20" height="20")
                        .footer__kontacttext 8 (812) 234-56-55
                    a(href="mailto:ojjo@ojjo.ru").footer__kontaktsilka
                        img(src="./assets/imgs/mail.png", alt="tel" width="20" height="20")
                        .footer__kontacttext ojjo@ojjo.ru
            .footer__seti СОЦИАЛЬНЫЕ СЕТИ
                .footer__oplatatext Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ullamcorper justo, nec, pellentesque.
                .footer__socseti
                    a(href="#") 
                        img(src="./assets/imgs/youtube.png", alt="youtube")
                    a(href="#")     
                        img(src="./assets/imgs/vk.png", alt="vk")
                    a(href="#")     
                        img(src="./assets/imgs/facebook.png", alt="facebook")
                    a(href="#")     
                        img(src="./assets/imgs/telegram.png", alt="telegram")
                    a(href="#")     
                        img(src="./assets/imgs/etsy.png", alt="etsy")
        .footer__bottom
            .footer__bottomtext  (c) 2020 OJJO jewelry
            .footer__bottomtext  Договор публичной офферты
            .footer__bottomtext  Контрагентам
            .footer__bottomtext  Сделано Figma.info