section.section.section__black
    .container2
        .section__black-text1 Не знаете, что выбрать?
        h2.section__black-text2 Посетите наши салоны в Москве
        .section__black-text3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla tempus. Pharetra lorem sem purus nisi libero viverra ipsum.
        a(href='#' type="button" class="btn btn-outline-dark").black-btn НАШИ САЛОНЫ