section.section.section--first
    .container
        .section__zag1 К мероприятиям
        h2.section__zag2 Настоящая красота здесь!
        .section__produkt
            button(type="button" class="btn btn-outline-dark") СВАДЬБА
            button(type="button" class="btn btn-outline-dark") МУЖУ
            button(type="button" class="btn btn-outline-dark") ЖЕНЕ
            button(type="button" class="btn btn-outline-dark") ПАРТНЕРУ
            button(type="button" class="btn btn-outline-dark") КОЛЛЕКЦИИ
            button(type="button" class="btn btn-outline-dark") РЕДКОСТЬ
        .section__produkt2
            a(href="#" style="background-image: url('assets/imgs/box1.jpg')").section__box
                span.section__text КОЛЬЦА
            a(href="#" style="background-image: url('assets/imgs/box2.jpg')").section__box
                span.section__text СЕРЬГИ
            a(href="#" style="background-image: url('assets/imgs/box3.jpg')").section__box
                span.section__text ПОДВЕСКИ
            a(href="#" style="background-image: url('assets/imgs/box4.jpg')").section__box
                span.section__text ЗАПОНКИ
            a(href="#" style="background-image: url('assets/imgs/box5.jpg')").section__box
                span.section__text БРАСЛЕТЫ
            a(href="#" style="background-image: url('assets/imgs/box6.jpg')").section__box
                span.section__text ЧАСЫ