section.section.section-art
    .container
        .section__zag1 Полезные статьи
        h2.section__zag2 Лучшие советы по подбору дорогих подарков
        .section__produkt3
            a(href="#" style="background-image: url('assets/imgs/boxs1.jpg')").section__boxs
                span.section__text2 Как выбрать часы для своей будущей жены
            a(href="#" style="background-image: url('assets/imgs/boxs2.jpg')").section__boxs
                span.section__text2 Запонки для мужа: 7 ключевых правил покупки аксессуара
            a(href="#" style="background-image: url('assets/imgs/boxs3.jpg')").section__boxs
                span.section__text2 Как выбрать обручальные кольца молодоженам
        a( href='#' type="button" class="btn btn-dark").black-btn2 ЧИТАТЬ НАШ БЛОГ
