section.section.section-social
    .container
        .section__zag1 #ojjo_jewerly
        h2.section__zag2 Мы в социальных сетях
        .section__seti
            a(href="#").section__video 
                img(src="./assets/imgs/gallery__video--hover.jpg", alt="video")
            a(href="#").section__img    
                img(src="./assets/imgs/gallery__image.jpg", alt="img")
            a(href="#").section__img2     
                img(src="./assets/imgs/gallery__image1.jpg", alt="img")
            a(href="#").section__img3     
                img(src="./assets/imgs/gallery__image2.jpg", alt="img")
            a(href="#").section__img4     
                img(src="./assets/imgs/gallery__image3.jpg", alt="img")
            a(href="#").section__video2     
                img(src="./assets/imgs/gallery__video.jpg", alt="video")