// Помощники
@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
@import 'main/parameters';// переменные

//Общее
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили
//@import 'main/grid'; // базовая 12ти колоночная сетка для сайта(сделана на основе bootstrap), классы .container/.row/.col-md-6 и т.д.

// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
.nav {
    //width: 29%;
    &__list {
        display: flex;
    }
    &__item {
        margin: 0 2rem 0 0;
    }
    &__link {
        font-size: 1rem;
    }
}
.dropdown {
    display: none;
}
.nav2 {
    border-top: 1px solid #333333;;
    width: 100%;
    &__list {
        padding: 4.3rem 0;
    }
    &__item {
        padding-bottom:1.1rem;
    }
    &__link {
        font-family: Gilroy Regular;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
    }
}
.botton {
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    font-family: $body-font;
    font-size: 1.28rem;
    line-height: 1.5rem;
    margin: 0px 10px;
}


.container {
    width: 100%;
    max-width: 1110px;
    padding: 0 15px;
    margin:  0 auto;
    text-align: center;
}

.container2 {
    width: 100%;
    max-width: 730px;
    margin:  0 auto;
    padding: 6.5rem 0;
    text-align: center;
}

@import "components/header";


.section {
    &__zag1 {
        font-family: $body-font;
        font-size: 21px;
        line-height: 140%;
        color: #333333;
    }
    &__zag2 {
        padding: 1rem 0 4.28rem 0;
        font-family: $add-font;
        font-size: 2.14rem;
        line-height: 2.9rem;
        color: #333333;
    }
    &__produkt,
    &__produkt3, 
    &__produkt2 {
        padding-bottom: 10rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    &__produkt {
        padding-bottom: 4rem;
    }
    &__produkt3 {
        justify-content: space-around;
        }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1.5rem;
        width: 350px;
        height: 280px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 20.31%, #333333 100%);
        transition: transform ease 0.4s;
        &:hover {
            transform: translateY(-10px);
        }
    }
    &__text {
        font-family: $body-font;
        font-size: 1.7rem;
        line-height: 2rem;
        padding-bottom: 2rem;
    }
    &__black {
        background: url(./../imgs/fon2.png), #333333;
        color: #FFFFFF;
    }
    &__black-text1 {
        padding-bottom: 1.07rem;
        font-family: $body-font;
        font-size: 1.5rem;
        line-height: 140%;
    }
    &__black-text2 {
        padding-bottom: 3.21rem;
        font-family: $add-font;
        font-style: normal;
        font-weight: bold;
        font-size: 2.14rem;
        line-height: 2.1rem;
    }
    &__black-text3 {
        padding-bottom: 4.28rem;
        font-family: $body-font;
        font-size: 1.28rem;
        line-height: 140%;
    }
    &__boxs {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 350px;
        height: 330px;
        background: linear-gradient(180deg, rgba(180, 180, 180, 0) 0%, #333333 100%);
        transition: transform ease 0.4s;
        &:hover {
            transform: translateY(-10px);
        }
    }
    &__text2 {
        font-family: $body-font;
        font-size: 1.5rem;
        line-height: 140%;
        padding: 0 15% 10%;
        
    }
    &__seti {
        padding-bottom: 10.7rem;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    &__video {
        grid-column: 1/3; 
        grid-row: 1/2;
    }
    
    &__numandpoisk {
        padding-top: 3rem;
        display: flex;
    }
    &__num {
        width: 40%;

    }
    &__n {
        display: flex;
        padding-bottom: 1.1rem;
    }
    &__numtext {
        padding-left: 1rem;
        color: #FFFFFF;
        font-size: 1.28rem;
    }
    &__poisk {
        width: 60%; 
    }
    &__poiskbox {

        width: 100%;
        height: 90%;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
    }
    &__poiskbox2 {
        font-size: 1rem;
        line-height: 1.1rem;
        margin: 5% auto;
        width: 90%;
        height: 60%;
        background: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__poiskline {
        margin: 0 0.5rem 0 1rem;
        height: 60%;
        background: #FFFFFF;
        border: 1px solid #D6D6D6;
        box-sizing: border-box;
        color: rgba(51, 51, 51, 0.5);
        
    }
    &__btn {
        height: 60%;
        margin: 0 1rem 0 0;
        background: #333333;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        color: #FFFFFF;
        }
    }
.section-art .container {
    padding-top: 8.71rem;
}
.section--first {
    padding-top: 3rem;
}

.footer {
    padding-top: 4.3rem;
    color: #333333;
    font-family: $headers-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.28rem;
    line-height: 140%;
    &__top {
        width: 100%;
        display: flex;
        text-align: start;
    }
    &__silka {
        margin: 0 1rem 0 1rem;
        width: 30%;
    }
    &__oplata {
        margin: 0 1rem 0 1rem;
        width: 25%;
    }
    &__oplatatext {
        border-top: 1px solid #333333;
        padding: 4rem 0 1.5rem 0;
        font-family: Gilroy Regular;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
    }
    &__oplatakardimg {
        padding-right: 2rem;
    }
    &__kontakt {
        margin: 0 1rem 0 1rem;
        width: 20%;     
    }
    &__kontacttext {
        font-family: Gilroy Regular;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
        margin-left: 1rem;
    }
    &__kontaktsilka {
        display: flex;
        align-items: center;
        padding-bottom: 1rem;
    }
    &__kontaktbox {
        border-top: 1px solid #333333;
        padding-top: 4rem;
    }
    &__seti {
        margin: 0 1rem 0 1rem;
        width: 25%;
    }
    &__socseti {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom {
        border-top: 1px solid #333333;
        padding: 2rem 0;
        font-family: $body-font;
        font-size: 1rem;
        line-height: 150%;
        color: #333333;
        display: flex;
        justify-content: space-between;
    }
}

.btn-outline-dark {
    position:relative;
    width: 10rem;
    height: 3.92rem;
    background: #F9F9F9;
    border-radius: 0px;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    font-family: $body-font;
    font-style: normal;
    font-weight: 500;
    font-size: 1.28rem;
    line-height: 1.5rem;
    &:hover{
        left:0.5rem;
        top:0.5rem;
        box-shadow: none;
        color: $c-primary;
    }
    &::before {
        background-color: #F9F9F9;
        content:"";
        display:block;
        position:absolute;
        width:100%;
        height:100%;
        padding:1rem;
        left:0.5rem;
        top:0.5rem;
        z-index:-1;
        border-radius: 0px;
        border: 1px solid #D6D6D6;
    }
    &:hover::before {
        display: none;
    }
}

.black-btn {
    box-shadow:none;
    width: 31%;

    &:hover{
        color: $c-primary;
    }
}
.black-btn2 {
    margin-top: -6rem;
    margin-bottom: 8.5rem;
    background: #333333;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 23%;
    height: 3.64rem;
}
@media screen and (max-width: 1090px) {
    .section {
        &__produkt,
        &__produkt2 {
            justify-content: space-around;
        }
        &__seti {
            margin: 0 auto;
            max-width: 555px;
            grid-template-columns: 50% 50%;
            justify-items: stretch;
        }
        &__video {
            grid-column: 1/3; 
            grid-row: 1/2;
        }
        &__img  {
            grid-column: 1/2; 
            grid-row: 2/3;
        }
        &__img2  {
            grid-column: 2/3; 
            grid-row: 2/3;
        }
        &__img3  {
            grid-column: 1/2; 
            grid-row: 3/4;
        }
        &__img4  {
            grid-column: 2/3; 
            grid-row: 3/4;
        }
    }
    .header__img,
    .header-top__favourite {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .search__field,
    .nav {
        display: none;
    }  
    .dropdown {
        display: inline;
        width: 30%;

    }
    .header__text {
        display: none;
    }
    .mixin {
        overflow:scroll;
    }
    .footer__silka,
    .footer__oplata,
    .footer__seti,
    .footer__kontakt
     {
        width: 40%;
    }
    .footer__top {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 900px) {
    .search {
        display: none;
    }
    .enter {
        margin-left: 5rem;
    }
}
@media screen and (max-width: 768px) {
    .section__numandpoisk {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__zag {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .header__logotip {
        padding: 0;
        margin-left: 50%;
        display: flex;
        justify-content: start;
    }
    .dropdown {
        margin-bottom: 0;
        justify-content: end;
    }
    .section__num {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .section__img ,
    .section__img2,  
    .section__video,
    .section__video2 {
        display: none;
    }
    .section__seti {
        display: flex;
        flex-direction: column;
    }
    .header__logotip {
        width: 10rem;
    }
    .black-btn2 {
        width: 10rem;
    }
    .footer__bottomtext:last-child,
    .enter {
        display: none;
    }
    .section__black-text3 {
        padding-bottom: 3rem;
    }
    .section__num {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .header__logotip {
        width: 8rem;
    }
    .section__black-text3 {
        height: 140px;
        margin-bottom: 2rem;
        overflow: scroll;
    }
    .section__black-text2 {
        padding-bottom: 2rem;
    }
    .section__numandpoisk {
        padding-top: 1rem;
    }
    .footer__silka,
    .footer__oplata,
    .footer__seti,
    .footer__kontakt
     {
        width: 70%;
    }
    .section__video {
        width: 100%;
    }
    .header__zag {
        font-size: 1.5rem;
    }
    .black-btn {
        width: 10rem;
    }
    .footer__seti,
    .footer__kontakt {
        margin: 3rem 1rem 2rem 1rem;
    }
    .section__poisk {
        width: 300px;
    }
}
@media screen and (max-width: 400px) {
    .header__logotip {
        width: 5rem;
    }
    .section__produkt {
        display: flex;
        justify-content: center;
    }
}