doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title OJJO 
        link(rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png")
        link(rel="manifest" href="./favicon/site.webmanifest")
        link(rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
        link(rel="stylesheet", href="./assets/css/app.css")
    body.wrapper 
        div(class="containerAppendix") 
            div(class="allforms" id="allforms")  
                div(class="containerModal")
                    a(class="tab-1") Вход
                    a(class="tab-2") Регистрация
                    div(class="content")
                        div(id="prompt-form-container" class="diventer")
                            form.prompt-form
                                div.prompt-message
                                    input(name="email" type="email" placeholder="Введите email" required).prompt-email
                                    input(name="password" type="password" placeholder="Введите пароль").prompt-password
                                    div(class="err")
                                    input(type="submit" value="Вход").prompt-button1 
                        div(id="prompt-form-container" class="divreg")    
                            form.prompt-form2
                                div.prompt-message
                                    input(name="email" type="email" placeholder="Введите email" required).prompt-email-registration
                                    input(name="password" type="password" placeholder="Введите пароль").prompt-password-registration
                                    input(name="password" type="password" placeholder="Введите пароль повторно").prompt-password2-registration
                                    div(class="errRegistration")
                                    input(type="submit" value="Регистрация").prompt-button2-registration
            div(class="homepage")
                div(class="main") Главная
                div(class="tabledisplay") Клиенты
                a(class="exit" href="index.html") Выход
            div(class="maininfo" id="maininfo")     
            div(class="table") 
                div(class="allinfo")
                    div(id="app1") Наибольший возраст:
                    div(id="app2") Наибольший бюджет:
                    div(id="app3") Количество мужчин:
                    div(id="app4") Количество женщин:
                table(id="app" border="1px")
                    tr
                        th Имя
                        th Компания
                        th Email
                        th Телефон
                        th Баланс
                        th Дата регистрации
                        th Удалить
                button(class="button-top") Вернуться к началу
        script(src="./assets/js/app.js")