//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;

//Цвета макета
$c-primary: #E5E5E5; //основной цвет макета
$c-add: #333333; //дополнительный цвет макета
$c-text: #FFFFFF; //основной цвет текста макета
$c-text2: #333333; //дополнительный цвет текста макета


// Рандомные переменные проекта

// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Gilroy Regular', sans-serif;//основной
$headers-font: 'Gilroy Medium', sans-serif;//для заголовков
$add-font: 'Noto Serif', sans-serif;//дополнительный
